<a href="https://colab.research.google.com/github/hyunhee418/natural_lauguage_processing_study/blob/master/day01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Intro

soynlp 는 konlpy보다 다운이 더 간편 <br>
동영상으로도 공개가 되어있어 영상을 참고할 수 있다. <br>
명사 추출, 토크나이징에 이용 / 단어 백터를 만들어 단어 유사도 분석 예정 <br>
2진 분류로 예측(classfication) -> 100% 예측 가능(스팸메일이냐 아니냐에 주로 사용) / 투표수 자체를 예측(회기) -> 예측률이 낮음

 # 국민 청원 데이터 분석하기

투표 수가 20만 명 이상 되어야 답변 대상 건이 됨<br>
따라서, 37만건 중에 청원 답변 건이 된 것은 100건이 채 되지 않아 이상치에 가까움 <br>
답변 선정 권은 제외하고 진행할 예정

Pandas : 파이썬에서 쓰는 엑셀 <br>
Numpy : 파이썬에서 쓰는 계산기 <br>
plotnine : 시각화 도구 (Grammer of Graphics라는 문법을 사용하여 파이썬과 R 에서 모두 사용할 수 있음) <br>

In [128]:
!git clone https://github.com/hyunhee418/natural_lauguage_processing_study.git

fatal: destination path 'natural_lauguage_processing_study' already exists and is not an empty directory.

In [0]:
import pandas as pd
import numpy as np

In [130]:
from google.colab import drive

drive.mount('/content/gdrive')

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

In [131]:
!ls "/content/gdrive/My Drive/data/01 study"

'01 국민청원 분석 및 시각화.ipynb'   petition1.csv
 day01.ipynb			     petition.csv
 natural_lauguage_processing_study

In [132]:
cd /content/gdrive/My Drive/data/01 study

/content/gdrive/My Drive/data/01 study

In [133]:
petitions1 = pd.read_csv("petition.csv")
petitions1.head(2)

   article_id  ...                                            content
0          21  ...  스텔라 데이지호에 대한 제안입니다.\n3월31일 스텔라 데이지호가 침몰하고 5달째가...
1          22  ...  현 정부에 국민들이 가장 원하는 것은 부패척결입니다.  우리 사회에 각종 비리들이 ...

[2 rows x 8 columns]

In [0]:
# index column을 0으로 지정해주어서 article_id가 0번째 데이터가 됨.
# parse_dates를 통해 start, end를 datetime 데이터 형태로 받는다.
petitions = pd.read_csv("petition.csv", index_col=0, parse_dates=['start', 'end'])

In [135]:
petitions.head(2)

                start  ...                                            content
article_id             ...
21         2017-08-19  ...  스텔라 데이지호에 대한 제안입니다.\n3월31일 스텔라 데이지호가 침몰하고 5달째가...
22         2017-08-19  ...  현 정부에 국민들이 가장 원하는 것은 부패척결입니다.  우리 사회에 각종 비리들이 ...

[2 rows x 7 columns]

In [136]:
petitions.shape

(377756, 7)

In [0]:
from pandas.api.types import CategoricalDtype
import numpy as np
from plotnine import *

In [138]:
petitions.columns

Index(['start', 'end', 'answered', 'votes', 'category', 'title', 'content'], dtype='object')

In [139]:
petitions.head(2)

                start  ...                                            content
article_id             ...
21         2017-08-19  ...  스텔라 데이지호에 대한 제안입니다.\n3월31일 스텔라 데이지호가 침몰하고 5달째가...
22         2017-08-19  ...  현 정부에 국민들이 가장 원하는 것은 부패척결입니다.  우리 사회에 각종 비리들이 ...

[2 rows x 7 columns]

In [140]:
petitions.tail(2)
# 최근 것

                start  ...                                            content
article_id             ...
492042     2019-01-09  ...  범죄정권이후 많은 어려움을 갖고 시작한 국민의정부.\n저급한 자칭 보수단체와 한국당...
492043     2019-01-09  ...  해당 사건이 발생한 곳은 요즘은 매체에서 매일 나오는 곳으로 '군의원의 외유성 해외...

[2 rows x 7 columns]

In [141]:
petitions.info()
# 대략적 요약하여 알려줌 어떤 columns가 있고 어떤 데이터 타입인지

<class 'pandas.core.frame.DataFrame'>
Int64Index: 377756 entries, 21 to 492043
Data columns (total 7 columns):
start       377756 non-null datetime64[ns]
end         377756 non-null datetime64[ns]
answered    377756 non-null int64
votes       377756 non-null int64
category    377756 non-null object
title       377756 non-null object
content     377755 non-null object
dtypes: datetime64[ns](2), int64(2), object(3)
memory usage: 23.1+ MB

In [142]:
petitions.describe()
# 수치형으로 되어 있는 데이터를 요약해서 보여줌
# count, mean, std, min, max, 4분위 수 값을 볼 수 있다.

            answered         votes
count  377756.000000  3.777560e+05
mean        0.000077  1.514069e+02
std         0.008761  4.842551e+03
min         0.000000  0.000000e+00
25%         0.000000  1.000000e+00
50%         0.000000  5.000000e+00
75%         0.000000  1.500000e+01
max         1.000000  1.192049e+06

In [143]:
petitions["votes"].max()
# pandas에 numpy가 내장되어있어 어느 정도 원하는 값을 계산할 수 있다.

1192049

In [144]:
petitions["votes"].mean()

151.40693463505542

In [145]:
petitions.describe(include='all')
# 숫자형과 상관없이 모든 데이터타입에 대해 보여주기

                      start                  end  ...     title   content
count                377756               377756  ...    377756    377755
unique                  509                  532  ...    330206    358060
top     2017-11-11 00:00:00  2017-12-11 00:00:00  ...  이명박 출국금지  이명박 출국금지
freq                   9623                 9701  ...      3018       597
first   2017-08-19 00:00:00  2017-08-26 00:00:00  ...       NaN       NaN
last    2019-01-09 00:00:00  2019-02-08 00:00:00  ...       NaN       NaN
mean                    NaN                  NaN  ...       NaN       NaN
std                     NaN                  NaN  ...       NaN       NaN
min                     NaN                  NaN  ...       NaN       NaN
25%                     NaN                  NaN  ...       NaN       NaN
50%                     NaN                  NaN  ...       NaN       NaN
75%                     NaN                  NaN  ...       NaN       NaN
max                     NaN                  NaN  ...       NaN       NaN

[13 rows x 7 columns]

In [146]:
petitions.describe(include=[np.number])
# 수치형 데이터만 보여주라

            answered         votes
count  377756.000000  3.777560e+05
mean        0.000077  1.514069e+02
std         0.008761  4.842551e+03
min         0.000000  0.000000e+00
25%         0.000000  1.000000e+00
50%         0.000000  5.000000e+00
75%         0.000000  1.500000e+01
max         1.000000  1.192049e+06

In [147]:
petitions.describe(include=[np.object])
# Object type 데이터만 보여주라
# top은 가장 많이 올라온 건(도배된 값들)

       category     title   content
count    377756    377756    377755
unique       17    330206    358060
top        정치개혁  이명박 출국금지  이명박 출국금지
freq      59020      3018       597

## 결측치가 있는 지 확인

* 측정이 안된 값 / null 값
* N/A인 컬럼을 요약해서 보여줌다.
* 결측치가 있다면 보정이 필요하다. 그러나 이 데이터는 너무나 깔끔하여 결측치가 없다.
* 하지만 때론 결측치가 0이나 다른 숫자를 대체해서 들어가 있을 수 있으므로 데이터를 좀 더 살펴봐야 한다.

In [148]:
petitions.isnull().sum()
# 크롤링을 해온 데이터라서 content 하나가 빠져있음.

start       0
end         0
answered    0
votes       0
category    0
title       0
content     1
dtype: int64

### 답변 대상 청원 컬럼 다시 만들기

기존 answered 컬럼에 답변여부가 있었다. 여기에서는 답변 받은 것과 상관없이 답변 대상 건에 대해 새로운 칼럼을 추가해 주었다.

In [149]:
petitions['answer'] = (petitions['votes'] > 200000) == 1
# 200000건이 넘는 애만 answer라는 column에 1을 넣어라
petitions.shape

(377756, 8)

In [150]:
petitions.head()

                start  ... answer
article_id             ...
21         2017-08-19  ...  False
22         2017-08-19  ...  False
23         2017-08-19  ...  False
24         2017-08-19  ...  False
25         2017-08-19  ...  False

[5 rows x 8 columns]

In [151]:
petitions.tail()

                start  ... answer
article_id             ...
492039     2019-01-09  ...  False
492040     2019-01-09  ...  False
492041     2019-01-09  ...  False
492042     2019-01-09  ...  False
492043     2019-01-09  ...  False

[5 rows x 8 columns]

### 청원기간 컬럼 설정

In [152]:
# 청원 기간을 나타내는 column 'duration' 생성
petitions['duration'] = petitions['end'] - petitions['start']
petitions.sort_values('duration', ascending=True).tail(3)

                start        end  ...  answer  duration
article_id                        ...
8227       2017-09-05 2017-12-04  ...   False   90 days
8200       2017-09-05 2017-12-04  ...   False   90 days
21         2017-08-19 2017-11-17  ...   False   90 days

[3 rows x 9 columns]

In [153]:
petitions['duration'].value_counts()
# groupby해서 모은 값들을 보여준다.

30 days    366556
90 days      6754
7 days       2436
15 days      1204
60 days       806
Name: duration, dtype: int64

청원 기간이 90 일이고 답변 대상 건

In [154]:
petitions.loc[(petitions['duration']== '90 days') & (petitions['answer'] == 1)]

                start        end  ...  answer  duration
article_id                        ...
10949      2017-09-06 2017-12-05  ...    True   90 days

[1 rows x 9 columns]

청원 기간이 60 일이고 답변 대상 건

In [155]:
petitions_60_answer = petitions.loc[(petitions['duration']== '60 days') & (petitions['answer'] == 1)]
print(petitions_60_answer)
petitions_60_answer.head()

                start        end  ...  answer  duration
article_id                        ...
1785       2017-09-03 2017-11-02  ...    True   60 days

[1 rows x 9 columns]

                start        end  ...  answer  duration
article_id                        ...
1785       2017-09-03 2017-11-02  ...    True   60 days

[1 rows x 9 columns]

청원 기간이 30이이고 답변 대상 건

In [156]:
petitions_30_answer = petitions.loc[(petitions['duration']== '30 days') & (petitions['answer'] == 1)]
print(petitions_30_answer.shape)
petitions_30_answer

(75, 9)

                start        end  ...  answer  duration
article_id                        ...
18278      2017-09-30 2017-10-30  ...    True   30 days
26024      2017-11-04 2017-12-04  ...    True   30 days
45581      2017-11-17 2017-12-17  ...    True   30 days
49083      2017-11-24 2017-12-24  ...    True   30 days
57132      2017-12-03 2018-01-02  ...    True   30 days
...               ...        ...  ...     ...       ...
454045     2018-11-27 2018-12-27  ...    True   30 days
462340     2018-12-06 2019-01-05  ...    True   30 days
462623     2018-12-07 2019-01-06  ...    True   30 days
472309     2018-12-18 2019-01-17  ...    True   30 days
489302     2019-01-07 2019-02-06  ...    True   30 days

[75 rows x 9 columns]

### 청원 기간이 7일이고 답변 대상 건

* 청원 기간이 7일인데 답변 대상인 건은 없다.
* 청원 기간이 7일인 데이터 시작 날짜를 그룹화해보면 청원 초기(2017년 8월 19일 ~ 9월 14일)에는 답변 대기 기간이 7일 이었던 것으로 추청된다.

In [157]:
petitions_7_answer = petitions.loc[(petitions['duration']== '7 days') & (petitions['answer'] == 1)]
print(petitions_7_answer.shape)
petitions_7 = petitions.loc[(petitions['duration']=='7 days')]
print(petitions_7.shape)
petitions_7_count = petitions_7['start'].value_counts().reset_index()
petitions_7_count.columns = ['start', 'count']
petitions_7_count.sort_values('start', ascending=True)

(0, 9)
(2436, 9)

        start  count
25 2017-08-19      9
22 2017-08-20     18
17 2017-08-21     21
23 2017-08-22     15
16 2017-08-23     22
21 2017-08-24     18
19 2017-08-25     20
20 2017-08-26     19
24 2017-08-27     11
15 2017-08-28     24
14 2017-08-29     27
9  2017-08-30     40
12 2017-08-31     37
6  2017-09-01     52
10 2017-09-02     39
5  2017-09-03     53
2  2017-09-04    331
0  2017-09-05    942
1  2017-09-06    335
3  2017-09-07    129
4  2017-09-08     94
7  2017-09-09     43
13 2017-09-10     32
18 2017-09-11     20
8  2017-09-12     41
11 2017-09-13     37
26 2017-09-14      7

## 어느 분야의 청원이 가장 많이 들어왔는지
* pandas의 value_counts로 특정 컬럼의 데이터를 그룹화하여 카운트된 숫자를 볼 수 있다.
* 이 데이터로는 정티개혁과 관련된 국민청원이 가장 많다는 것을 알 수 있다.

In [158]:
category = pd.DataFrame(petitions['category'].value_counts()).reset_index()
category.columns = ['category', 'counts']
category

       category  counts
0          정치개혁   59020
1            기타   46449
2        인권/성평등   33738
3         안전/환경   29196
4      교통/건축/국토   26910
5      외교/통일/국방   25705
6         육아/교육   24861
7          보건복지   23608
8           일자리   22111
9            행정   19373
10  문화/예술/체육/언론   17257
11           미래   17190
12        경제민주화   16281
13         성장동력    6991
14         반려동물    3827
15    저출산/고령화대책    3461
16         농산어촌    1778

## 청원이 얼마 동아 집계되었는지
청원이 가장 많이 들어온 날은 언제인지 정렬해본다.

In [159]:
start_df = pd.DataFrame(petitions['start'].value_counts()).reset_index()
start_df.columns = ['start', 'counts']
start_df = start_df.sort_values('counts', ascending=False)
# 내림차순
print('청원 집계: {}일'.format(start_df.shape[0]))
start_df.head()

청원 집계: 509일

       start  counts
0 2017-11-11    9623
1 2017-09-05    5952
2 2018-01-11    3368
3 2018-02-06    2631
4 2017-11-09    2487

## 피봇 테이블로 투표를 가장 많이 받은 분야 보기

In [160]:
petitions_unque = pd.pivot_table(petitions, index=['category'], aggfunc=np.sum)
petitions_best = petitions_unque.sort_values(by='votes', ascending=False).reset_index()
petitions_best

       category  answer  answered     votes
0        인권/성평등    23.0         9  12225998
1         안전/환경    10.0         2   6512799
2          정치개혁     7.0         2   5686172
3            기타     7.0         1   4720310
4         육아/교육     3.0         1   4420589
5          보건복지     3.0         2   4269399
6   문화/예술/체육/언론     7.0         4   4086382
7      외교/통일/국방     4.0         1   3637926
8      교통/건축/국토     3.0         2   2834727
9          반려동물     4.0         0   2023905
10        경제민주화     2.0         1   1720766
11           행정     1.0         1   1665855
12           미래     1.0         1   1120174
13          일자리     0.0         0   1113973
14         성장동력     2.0         2    866240
15    저출산/고령화대책     0.0         0    174841
16         농산어촌     0.0         0    114822

## 투표를 가장 많이 받은 날

In [163]:
petitions_start = pd.pivot_table(petitions, index=['start'], aggfunc=np.sum)
votes_df = petitions_start.sort_values(by='votes', ascending=False)
votes_df.loc[petitions_start['votes'] > 350000]

            answer  answered    votes
start
2018-10-17     1.0         0  1300523
2018-10-31     2.0         0   827096
2018-06-13     1.0         0   786157
2018-10-18     2.0         0   721524
2018-02-19     1.0         1   701520
2018-11-09     2.0         0   672819
2018-07-22     1.0         0   672491
2017-09-06     1.0         1   648209
2018-06-24     2.0         0   628925
2018-10-04     2.0         1   626761
2018-02-23     2.0         2   608530
2018-05-18     1.0         0   574483
2018-05-11     1.0         1   556549
2018-05-25     2.0         0   514253
2018-11-14     1.0         0   469027
2018-06-17     2.0         0   468341
2018-07-03     1.0         0   467132
2018-04-17     1.0         1   446950
2018-05-02     1.0         0   445493
2018-10-02     1.0         1   437841
2017-09-03     1.0         1   433356
2018-06-14     1.0         1   403351
2018-01-20     1.0         1   399683
2017-11-17     1.0         1   393348
2017-11-24     1.0         1   392782
2018-12-07     1.0         0   387305
2018-03-24     1.0         0   385480
2018-09-06     1.0         0   383145
2018-03-03     1.0         1   380016
2018-01-15     1.0         1   376187
2018-04-16     1.0         0   369318
2018-01-25     1.0         1   364926
2019-01-07     1.0         0   352139

## 청원을 많이 받은 날 VS 투표를 많이 받은 날

In [0]:
# 인덱스로 되어 있는 start를 키로 사용하기 위해
# index로 설정된 start를 컬럼으로 변경해주고 인덱스를 생성한다.
votes_df = votes_df.reset_index()